/*//////////////////////////////////////////////////////////
///////////////////////////////////////////////////// COLORS
//////////////////////////////////////////////////////////*/
$colorFullHealthGreen: #32D144;
$colorLostHealthRed: #EA3838;
$colorButtonRed: #FF2222;
$colorWhite: #FFF;
$colorOffWhite: #EEE;
$colorBlack: #000;
$colorLightGray: #CCC;
$colorMediumGray: #AAA;
$colorDeepGray: #666;
$colorDarkGray: #444;
$colorMidnightGray: #333;
$colorSteelGreen: #9FC9C3;