@import 'variables';

// bower:scss
// endbower

/*//////////////////////////////////////////////////////////
//////////////////////////////////////////// DEFAULT CLASSES
//////////////////////////////////////////////////////////*/
.browsehappy {
    margin: 0.2em 0;
    background: $colorLightGray;
    color: $colorBlack;
    padding: 0.2em 0;
}

/*//////////////////////////////////////////////////////////
/////////////////////////////////////////////////////// TAGS
//////////////////////////////////////////////////////////*/
body {
    background: $colorOffWhite;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $colorMidnightGray;
    margin: 0;
}

/*//////////////////////////////////////////////////////////
///////////////////////////////////////////////// CONTAINERS
//////////////////////////////////////////////////////////*/
#header {
    background-color: $colorDeepGray;
    height: 60px;
    border-bottom: 2px solid $colorDarkGray;
    text-align: center;
}

#versus {
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: bolder;
    color: $colorOffWhite;
    position: relative;
    line-height: 60px;
}

#outcome {
    background-color: rgba(255, 255, 255, 0.0);
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: bolder;
    color: $colorMidnightGray;
    text-align: center;
    line-height: 100px;
    width: 700px;
    height: 100px;
    top: 130px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#fight-button {
    margin-left: auto;
    margin-right: auto;
    background-color: $colorButtonRed;
    font-style: Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    border: 2px solid $colorMediumGray;
    text-shadow: 0px -1px 0px $colorDarkGray;
    display: block;
    line-height: 130px;
    position: relative;
    text-align: center;
    color: $colorWhite;
    width: 250px;
    height: 150px;
    top: 300px;
    box-shadow: inset   2px -9px 0px rgb(130, 130, 147),
                        3px 2px   1px rgb(111, 111, 126);

    &:hover {
        margin-top: 8px;
        margin-bottom: -8px;
        box-shadow: inset   0px -9px 0px rgb(130, 130, 147),
                            3px 2px  1px rgb(111, 111, 126);
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
    }

    &:active {
        margin-top: 26px;
        margin-bottom: -26px;
        box-shadow: inset   0px -4px 0px rgb(130, 130, 147),
                            2px 2px  1px rgb(111, 111, 126);
    }
}

#fist1 {
    background: url('../images/fist1.png');
    width: 400px;
    height: 300px;
    left: 200px;
    top: 110px;
    opacity: 0;
    position: fixed;
    z-index: 1;
}

#fist2 {
    background: url('../images/fist2.png');
    width: 400px;
    height: 300px;
    right: 200px;
    top: 110px;
    opacity: 0;
    position: fixed;
    z-index: 1;
}

/*//////////////////////////////////////////////////////////
/////////////////////////////////////////////////// FIGHTERS
//////////////////////////////////////////////////////////*/
#fighter {
    background-color: $colorWhite;
    width: 300px;
    height: 300px;
    left: 60px;
    top: 100px;
    position: absolute;
}

#fighter-name {
    background-color: rgba(255, 255, 255, 0.0);
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    color: $colorWhite;
    text-align: left;
    padding-left: 45px;
    line-height: 40px;
    width: 500px;
    height: 40px;
    left: 20px;
    top: 10px;
    position: absolute;
}

#fighter-damage {
    background-color: red;
    border: 2px solid $colorDarkGray;
    width: 500px;
    height: 40px;
    left: 18px;
    top: 8px;
    position: absolute;
}

#fighter-health {
    background-color: $colorFullHealthGreen;
    width: 500px;
    height: 40px;
    left: 20px;
    top: 10px;
    position: absolute;
}

#attack-value {
    background-color: $colorMediumGray;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    color: $colorMidnightGray;
    text-align: center;
    line-height: 60px;
    width: 300px;
    height: 60px;
    left: 60px;
    top: 450px;
    position: absolute;
}

/*//////////////////////////////////////////////////////////
//////////////////////////////////////////////////// ENEMIES
//////////////////////////////////////////////////////////*/
#enemy {
    background-color: $colorWhite;
    width: 300px;
    height: 300px;
    right: 60px;
    top: 100px;
    position: absolute;
}

#enemy-name {
    background-color: rgba(255, 255, 255, 0.0);
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    color: $colorWhite;
    text-align: right;
    padding-right: 45px;
    line-height: 40px;
    width: 500px;
    height: 40px;
    right: 20px;
    top: 10px;
    position: absolute;
}

#enemy-damage {
    background-color: red;
    border: 2px solid $colorDarkGray;
    width: 500px;
    height: 40px;
    right: 18px;
    top: 8px;
    position: absolute;
}

#enemy-health {
    background-color: $colorFullHealthGreen;
    width: 500px;
    height: 40px;
    top: 10px;
    right: 20px;
    position: absolute;
}

#block-value {
    background-color: $colorMediumGray;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    color: $colorMidnightGray;
    text-align: center;
    line-height: 60px;
    width: 300px;
    height: 60px;
    right: 60px;
    top: 450px;
    position: absolute;
}